*.exe
*.exe~
*.dll
*.so
*.dylib

users-service

vendor/

*.log
*.out
*.tmp

*.test
coverage.out
coverage.xml
unit-tests.xml
integration-tests.xml
e2e-tests.xml

.env
.env.*
!/.env.example

.vscode/
.idea/
*.swp
*~

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
__MACOSX

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

go.work.sum
./*.sh