aiokafka==0.12.0
kafka-python-ng
argon2-cffi
authlib==1.6.0
fastapi==0.115.13
loguru==0.7.3
prometheus_client==0.21.1
prometheus_fastapi_instrumentator==7.1.0
pydantic==2.11.7
pydantic_settings==2.10.0
pytest==8.4.1
pytest_asyncio==1.0.0
pytest-kafka
pytest-mock==3.14.1
PyYAML==6.0.2
SQLAlchemy==2.0.35
sqlalchemy[asyncio]
uvicorn==0.34.3
asyncpg
aiosqlite
gunicorn
email-validator
redis==4.3.0
redis[async]
pyjwt==2.10.1
cryptography
testcontainers==4.10.0
testcontainers[redis]
testcontainers[kafka]
fakeredis==2.30.1